body{
    background-image: linear-gradient(to right, #095b95,#01101a);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: 'Futura';
    /* src: url(../font/Futura\ Md\ BT\ Bold.ttf); */
    font-weight: bold;
    font-style: bold;

    min-height: 100%;
    
}
.contenedorID{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    
    justify-items: right;
    align-items: center;
    
    width: 100%;
    padding: 0px 0;
    
    
    background-size: cover;

    animation-name: iniciar;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes iniciar {
    0%{
        margin-top: 5%;
        
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        
        margin-top: 0;
    }
    
}
@keyframes tamanio {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
form{
    margin-left: 90px;
}

.fondoImg{
    
    justify-items: center;
    align-items: center;
}
#formulario{
    justify-content: right;
}
::placeholder{
    
    src: url(../font/Futura\ Md\ BT\ Medium.ttf);
    font-variant: normal;
    font-style: normal;
    font-weight: initial;

    color: rgba(255, 255, 255, 0.308);
    
}
input{
    display: grid;
    justify-items: center;
    width: 250px;
    height: 20px;
    padding: .9em;
    color: #ffffff;
    text-indent: 40px;

    src: url(../font/Futura\ Md\ BT\ Medium.ttf);
    font-weight: normal;
    font-style: normal;
    
    background:rgb(131, 162, 166,0%);    
    outline: none;
    border: 0px solid;
    border-bottom: 2px solid rgba(255, 255, 255, 0.308);
    font-size: 20px;
    &:hover{
        border: 0px solid;
        border-bottom: 2px solid #babd0f;
    }
}

.formulario{
    margin-top: -600px;
    justify-items: end;
}

.datos{
   
   margin-top: 0%;
   /* justify-items: center;
    align-items: center; */
   justify-content: center;
    
   display: grid;
   height: 150px;
   gap: 20px;
   padding: 40px;
   font-size: 30px;
}
img.iconos{
   
    margin-left: 15px;

   &:hover{

    transform: scale(1.2);
    transition: transform 0.5s;
    
    filter: invert(81%) sepia(100%) saturate(510%) hue-rotate(357deg) brightness(350%) contrast(105%);
    }

}
label{
    margin-top: -72px;
}
#enter{
    display: grid;
    margin: auto;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right, #3660d6,#267dd3,#14b5db);
    font-size: 20px;
    text-align: center;
    height: 60px;
    width: 300px;
    text-indent: 0px;
    color: white;
    margin-bottom: 15%;
    
    border: none;
    &:hover{
     cursor: pointer;
     
     background-image: linear-gradient(to right, #af7e14,#bd940f,#babd0f);
     
     
     src: url(../font/Futura\ Md\ BT\ Medium.ttf);
     font-weight: bold;
     font-style: bold;
     color: white;
    
     
    
    }
 }