<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="CSS/styleInicio.css">
</head>
<body>
    <header>
       
        <a id="logoEsam" href="inicio.html"></a>
        <h2 id="titulo">SISTEMA ACADÉMICO</h2>
    </header>
    <main>
        <div class="barraAmarilla"></div>
        <div class="iconosCentro">
            <a href="#"><img class="boton" src="svg/boton1.svg" alt="" height="250px"></a>
            <a href="#"><img class="boton" src="svg/boton2.svg" alt="" height="250px"></a>
            <a href="#"><img class="boton" src="svg/boton3.svg" alt="" height="250px"></a>
            <a href="#"><img class="boton" src="svg/boton4.svg" alt="" height="250px"></a>
            <a href="#"><img id="docentesimg" src="svg/boton5.svg" alt="" height="250px"></a>
            <a href="#"><img class="boton" src="svg/boton6.svg" alt="" height="250px"></a>          
        </div>
    </main>
    <footer>
        <div class="piePagina">
            <div>
                <h5>Privacidad / Cookies</h5>
                <div class="redesSociales">
                    <a href="https://www.facebook.com/esamcochabambasucursal" target="_blank"><img class="ico" src="svg/facebook.svg" alt="" width="25px"></a>
                    <a href="https://www.instagram.com/esamcochabambasucursal/" target="_blank"><img class="ico" src="svg/instagram.svg" alt="" width="28px"></a>
                    <a href="https://bo.linkedin.com/company/esamcochabambasucursal" target="_blank"><img class="ico"src="svg/linkedin.svg" alt="" width="25px"></a>
              </div>                
            </div>
            <div>
                <h5>©2024 ESAM COCHABAMBA SUCURSAL</h5>
                <h5>TELEFONO: 44521541 - 71315551</h5>
            </div>
        </div>
        
    </footer>
</body>
</html>