.button-form{
    background-color: #b2a612;
    color: #f4f3f4;
  }
  .card-style{
    color: #112533;
  }
  .icon-button{
    position: absolute;
    right: 0;
    top: 0px;
  }
  .header-form{
    color: #112533;
  }